<div class="card" style="width: 18rem;">
    <img src="<%= datum.picture %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= datum.title %></h5>
      <p class="card-text"><%= datum.subtitle %>€</p>
      <% if (datum.primaryCta) { %>
        <a href="<%= datum.primaryCta %>" class="btn btn-primary"><%= datum.primaryCtaLabel %></a>
      <% } %>
      
      <% if (datum.secondaryCta) { %>
        <hr>
        <form action="/cart/add/<%=datum.id%>" method="post">
          <div style="display: flex;">
            <input style="width: 5rem; margin-right: 3rem;" value="1" type="number" id="quantity" name="quantity" min="0">
            <input type="submit" class="btn btn-success" value="Acheter">  
          </div>
        </form>
      <% } %>
    </div>
  </div>
  